psycopg2==2.9.3

django==3.2.11
djangorestframework==3.13.1
django-cors-headers==3.10.1
django-polymorphic==3.1.0
django-rest-polymorphic==0.1.9
django-filter==21.1

sentry-sdk==1.5.1
whitenoise==5.3.0
channels==3.0.4
channels-redis==3.3.1
requests==2.26.0
python-magic==0.4.24
markdown==3.3.6
celery==5.2.3
redis==3.5.3

yt-dlp==2022.1.21
python-qbittorrent==0.4.2
selenium==4.1.0
