psycopg2==2.9.5

django==4.1.7
djangorestframework==3.14.0
django-cors-headers==3.13.0
django-polymorphic==3.1.0
django-rest-polymorphic==0.1.10
django-filter==22.1

sentry-sdk==1.15.0
whitenoise==6.4.0
daphne==4.0.0
channels==4.0.0
channels-redis==4.0.0
requests==2.28.2
markdown==3.4.1
celery==5.2.7
redis==4.5.4

yt-dlp==2023.7.6
python-qbittorrent==0.4.3
selenium==4.8.2
