psycopg2==2.8.5

Django==3.0.8
djangorestframework==3.11.0
django-cors-headers==3.4.0
django-polymorphic==2.1.2
django-rest-polymorphic==0.1.9
django-filter==2.3.0

sentry-sdk==0.16.1
whitenoise==5.1.0
channels==2.4.0
channels-redis==3.0.0
requests==2.24.0
beautifulsoup4==4.9.1
python-magic==0.4.18
markdown==3.2.2
celery==4.4.6
redis==3.5.3

youtube_dl==2020.9.20
python-qbittorrent==0.4.2